html,body{
    height: 100%;
    width: 100%;
}

.button{
    padding: 20px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
}
.row{
    margin: 8px;
}
.row input{
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;

}