.text-center{
    text-align: center;
}

.bg-black{
    background: black;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.iteams-center{
    align-items: center;
}