@font-face {
    font-family: montserrat-regular;
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: montserrat-bold;
    src: url('../font/Montserrat-Bold.ttf');
}

